/*Estilos para mi página web*/
/*selctor por etiqueta header */
body {
    background-color: #000000d5;

}
header {
    background-color:#2c45c2d5; /*fondo completo de header*/
    color: #ffffff;
    text-align: center; /*alinear TODOS los textos de header*/
    height: 150px; /*altura por ahora en px = pixeles */
    background-image: url(../assets/img/logo1.png);
    background-size: 130px;
    background-repeat: no-repeat;
    
}
h1 {
background-color:#092199d5 ;
}
nav ul li {
    display: inline-block; /* a los elementos de la lista los pone en horizontal*/
    color: #ffffff;
}

nav ul li a { /* selecciona las A (anchor, ancla - enlace - link - url - hipervinculo*/
    text-decoration: none; /* elimina el subrayado*/
    color: rgb(131, 197, 255); /*color blanco a laletra de A*/
    text-transform: uppercase; /*colocamos el texto de A en mayúscula*/ 
    padding: 2px; /*margen interno del elemneto A*/
    background-color: rgb(0, 0, 0);
    border-radius: 25px; 
}
/* Pseudo clases - es un estado especial que se le asigna a un elemneto seleccionado.
 objetivo: aplicar estilos a lelementos a en ciertas condiciones sin necesidad de usar otra
 clase adicional. */
/*:hover - el puntero este encima de l elemento A. */
nav ul li a:hover {
    color: rgb(0, 16, 61);
    background-color: rgb(74, 153, 255);
}
main {
    text-align: center;
    background-color: #2c45c2d5;
    color: #ffffff;
}